* {
	margin:0;
	padding:0;
	font-family: Arial;
}

#mp-overlayer {
	display:none;
    min-height: 100%;
    min-width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    left:0;
}
#mp-overlayer #mp-overlayer-background {
   	background-color: #000000;
   	opacity: 0.5;
	filter:alpha(opacity=50);
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
   	z-index: 10001;
}
    
#mp-overlayer #mp-overlayer-message {
   	width: 100%;
   	min-height:200px;
   	background-color:#fff;
   	z-index: 10002;
   	position:relative;
   	top: 150px;
}
#mp-overlayer #mp-message-content {
	width: auto;
	padding: 10px 0;
	min-height:180px;
	position:realive;
	text-align: center;
}
#mp-overlayer #mp-message-table {
	width: 400px;
	margin: 0 auto;
	min-height:180px;
	position:relative;
}
#mp-overlayer #mp-message-content-buttons {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	text-align: center;
}
#mp-overlayer .mp-message-content-buttons-button{  			
	float:left;
	width: 50%;
}
#mp-overlayer #mp-message-content-message {
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	width: 400px;
	padding-bottom:40px;
	height: 180px;
	overflow:auto;
}
#mp-overlayer #mp-message-content-buttons a{
	
}

#mp-overlayer .mp-overlayer_button {
	width: 90%;
	background-color: #81ADBC;
    border: 1px solid #979797;
    clear: both;
    color: #FFFFFF;
    padding: 5px;
    position: relative;
	display:inline-block;
	font-weight:bold;
	font-size:12;
	text-align:center;
	
}
#mp-overlayer .mp-overlayer_button:hover {
	color:#343434;
	cursor:pointer;
}

#mp-overlayer_message {
	display:none;
}